operators-installer:

  operators:
    - channel: stable
      installPlanApproval: "Manual"
      name: vertical-pod-autoscaler
      sourceNamespace: openshift-marketplace
      source: redhat-operators
      csv: vertical-pod-autoscaler.v4.20.0-202512081147
      namespace: openshift-vertical-pod-autoscaler
      automaticIntermediateManualUpgrades: true

      # VPA may run on Infra nodes
      # config:
      #   nodeSelector:
      #     node-role.kubernetes.io/infra: ""
      #   tolerations: 
      #   - key: "node-role.kubernetes.io/infra"
      #     operator: "Exists"
      #     effect: "NoSchedule"

  operatorGroups:
  - name: openshift-vertical-pod-autoscaler
    createNamespace: true
    targetOwnNamespace: true
