operators-installer:

  operators:
    - channel: stable-v1
      installPlanApproval: "Manual"
      name: openshift-cert-manager-operator
      sourceNamespace: openshift-marketplace
      source: redhat-operators
      csv: cert-manager-operator.v1.18.0
      namespace: cert-manager-operator
      automaticIntermediateManualUpgrades: true

  operatorGroups:
  - name: cert-manager-operator
    createNamespace: true
    targetOwnNamespace: true
